# Ignore everything
*

# Do not ignore directories (to allow traversal)
!*/

# Exclude specific directories entirely
.idea/
__pycache__/
build/
dist/
venv/
env/

# Allow specific source code and md files
!*.py
!*.md
!.gitignore
